@base-img-dir: "/assets";

.background {
    display: flex;
    flex-direction: column;
    height: 900px;
    background-image: url("@{base-img-dir}/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-head {
    background-image: url("@{base-img-dir}/home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    width: 100%;
}

#title-container {
    position: relative;
    top: 50%;
    text-align: center;
}